@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
html {
    scroll-behavior: smooth;
    background-color: #0a001d;
}
body {
    padding: 0 8vw;
    background: linear-gradient(0deg, #0a001d 0%, #200238 100%);
    color: #fff;
}
.content {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 6vw auto 5vw;
    grid-template-areas: 
    'head head'
    'left right'
    'foot foot';
}
header {
    grid-area: head;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    color: #fff;
    text-decoration: none;
}
header ul {
    list-style: none;
    display: flex;
}
header li {
    margin-left: 2vw;
}
#left-side {
    grid-area: left;
    padding-right: 10vw;
    font-weight: 300;
    line-height: 2vw;
    /* background-color: green; */
}
#right-side {
    grid-area: right;
    /* background-color: red; */
}
#right-side img {
    width: 40vw;
    margin-top: 4vw;
}
footer {
    grid-area: foot;
    text-align: center;
}
#home-footer {
    padding-top: 4.5vw;
}
.title {
    font-size: 4rem;
    margin: 5vw 0 3vw 0;
    font-weight: 500;
}
#discover {
    background: transparent;
    padding: 1vw;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    border: 1px solid #fff;
    cursor: pointer;
    margin-top: 2vw;
    transition: 0.4s;
}
#discover:hover {
    background-color: #fff;
    color: #0a001d;
    font-weight: 600;
}
#timeline-area {
    margin: 5vw -3vw;
    width: 26vw;
    border-left: 0.1rem solid white;
    padding: 0 3vw 0 2vw;
    float: right;
}
.card {
    padding: 1.5vw 1.5vw 0.5vw 1.5vw;
    border: 1px solid white;
    position: relative;
    margin: 0 0 5vw 2vw;
    line-height: 1.8vw;
}
.card h4 {
    color: #d1fff9;
}
.card * {
    margin-bottom: 1vw;
}
.card p {
    font-weight: 200;
}
.card::before {
    content: '';
    display: block;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    border: 3px solid #00ffdd;
    position: absolute;
    background-color: #200238;
    top: 1vw;
    left: -4.8vw;
}
.card::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent white transparent transparent;
    border-width: 8px;
    position: absolute;
    left: -1.1vw;
    top: 1vw;
}
#middle {
    position: relative;
    margin: 0 0 2vw -26vw;
    width: 20vw;
}
#middle::before {
    content: '';
    display: block;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    border: 3px solid #00ffdd;
    position: absolute;
    background-color: #200238;
    top: 1vw;
    left: 23.2vw;
}
#middle::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent white;
    border-width: 8px;
    position: absolute;
    left: 19.9vw;
    top: 1vw;
}
#left-side img {
    width: 25vw;
    margin-top: 25vw;
}
#portfolio-grid {
    grid-area: pg;
    display: flex;
    flex-wrap: wrap;
    margin: 5vw auto;
    justify-content: center;
}
#portfolio-grid .portfolio-card-content{
    width: 21vw;
    height: 15vw;
    box-shadow: 0px 0px 25px #47067d;
    background-color: #575757;
    transition: 0.2s;
    margin: 1vw;
}
#portfolio-grid .portfolio-card-content:hover {
    cursor: pointer;
    width: 22vw;
    height: 16vw;
    margin: 0vw;
}
#portfolio-grid .portfolio-card-content p {
    margin: 0.2vw 0 1vw 1vw;
}
#portfolio-grid div img {
    width: 100%;
}
.grid-content {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 6vw auto 5vw 5vw;
    grid-template-areas: 
    'head head'
    'pg pg'
    'foot foot';
}
.popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vw;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}
.popup .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #575757;
    width: 50vw;
    height: auto;
    z-index: 2;
    padding: 3vw;
    box-sizing: border-box;
}
.popup .overlay-content * {
    margin-bottom: 1vw;
}
.popup.active .overlay {
    display: block;
}
.popup.active .overlay-content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}