@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
html {
    scroll-behavior: smooth;
    background-color: #0a001d;
}
body {
    padding: 0 8vw;
    background: linear-gradient(0deg, #0a001d 0%, #200238 100%);
    color: #fff;
}
.content {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 6vw 40vw 5vw;
    grid-template-areas: 
    'head head'
    'left right'
    'foot foot';
}
header {
    grid-area: head;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    color: #fff;
    text-decoration: none;
}
header ul {
    list-style: none;
    display: flex;
}
header li {
    margin-left: 2vw;
}
#left-side {
    grid-area: left;
    padding-right: 10vw;
    font-weight: 300;
    line-height: 2vw;
    /* background-color: green; */
}
#right-side {
    grid-area: right;
    background-color: blue;
}
footer {
    grid-area: foot;
    text-align: center;
}
.title {
    font-size: 4rem;
    margin: 5vw 0 3vw 0;
    font-weight: 500;
}
#discover {
    background: transparent;
    padding: 1vw;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    border: 1px solid #fff;
    cursor: pointer;
    margin-top: 2vw;
    transition: 0.4s;
}
#discover:hover {
    background-color: #fff;
    color: #0a001d;
    font-weight: 600;
}